*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
html{
    font-size: 10px;
}
body{
/* background-color: rgba(245, 240, 230, 1); */
background-color: rgb(191, 220, 230);
}

.posts-head{
    margin-top: 20px;
    border-radius: 8px;
    padding: 35px 20px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
justify-content: space-between;
}
.header-text h2{
font-size: 3.2rem;
}
.header-text p{
    font-size: 2rem;
}
.posts-head button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
  background-color: rgb(160, 210, 227);
  color: rgb(43, 42, 42);
  font-weight: bold;
}
.header-text{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.posts-head button img{
    height: 25px;
    width: 25px;
}
.card img{
    height: 200px;
    width: 400px;
    border-radius: 8px 8px 0 0;
}
#exit{
    cursor: pointer;
}
.card-bottom {
    border-radius: 0 0 8px 8px;
    padding: 0 10px;
background-color: rgba(255, 255, 255, 1);
padding-bottom: 15px;
display: flex;
flex-direction: column;
gap: 10px;
}
.card-bottom h5{
    font-size: 2rem;
    margin-top: 15px;
}
.card-bottom h6 {
    font-size: 1.8rem;
    color: rgba(0.6, 0.6, 0.6, 0.6);
}
.together .icon{
    height: 20px;
    width: 20px;
}
button .icon {
    height: 20px;
    width: 20px;
}
.created-info{
display: flex;
flex-direction: row;
justify-content: space-between;

}
.normal-text{
    font-size: 1.5rem;
}
.together{
    display: flex;
    align-items: center;
    gap: 4px;
}
.cards{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.btns{
    margin-top: 10px;
display: flex;
flex-direction: row;
justify-content: end;
align-items: end;
gap: 8px;

}
.btns button{
    display: flex;
    align-items: center;
    gap: 5px;
   padding: 6px 15px;
}
.card{
   display: flex;
   flex-direction: column;
   
}
.modal-bg{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: full;
    display: flex;
    align-items: center;
    justify-content: center;
   display: none;
}
.input-modal-bg {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: full;
    display: flex;
    align-items: center;
    justify-content: center;
   display: none;
}
.modal-top img{
    height: 20px;
    width: 20px;
}

.modal-top h3 {
 font-size: 25px;
 color: white;
}
.modal-top{
    padding: 20px 10px;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
}
.modal{
    background-color: white;
   
}
.input-modal {
    background-color: white;

}
.modal-bottom{
    padding: 0 20px;
}
.modal-bottom .post-detail-image{
    height: 300px;
    width: 600px;
   margin-bottom: 10px;
   margin-top: 20px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
   padding: 20px 30px;

}
form input, form textarea{
padding-top: 15px;
padding-bottom: 15px;
padding-right: 80px;
padding-left: 10px;
outline: none;
}
.btns{
    display: flex;
    gap: 10px;
    padding: 20px 30px;
}
.btns button {
cursor: pointer;
    padding: 10px 20px;
}
#inputModal-exit:hover{
  cursor: pointer;  
}
#add-btn{
cursor: pointer;
}
#no-post{
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
#no-post h1{
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.infos-box{

}
.modal-texts h3{
font-size: 28px;
}
.modal-texts h4{
    font-size: 20px;
}
.infos h6{
    font-size: 18px;
}
.infos p {
    font-size: 18px;
    color: rgba(0.6, 0.6, 0.6, 0.6);
}
.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.infos-box{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.modal-texts{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.with-margin{
    margin-bottom: 20px;
}
.close-btn-box{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: 20px;
    margin-top: 20px;
}
.close-btn{
    padding: 5px 8px;
}